<form (submit)="search($event)" name="searchForm" id="searchForm">
  <div class="form-group">
    <label for="shop4mesearch">What are you looking for?</label>
    <input [(ngModel)]="model.searchTerms" name="searchTerms" type="text" class="form-control" id="shop4mesearch" placeholder="Enter search terms">
    <button type="submit" class="btn btn-primary">Shop!</button>
  </div>
</form>
<div>
  <div class="row searchheader" *ngIf="(results | async)?.numResults || 0 > 0">
    <div class="col-sm-4 result name">
      Name
    </div>
    <div class="col-sm-6 result description">
      Description
    </div>
    <div class="col-sm-2 result price">
      Price
    </div>
  </div>
  <div class="row" *ngFor="let item of (results | async)?.results || []">
    <div class="col-sm-4 result name">
      <a [attr.href]="item.url">{{item.name}}</a>
    </div>
    <div class="col-sm-6 result description">
      {{item.description}}
    </div>
    <div class="col-sm-2 result price">
      {{item.price}}
    </div>
  </div>
</div>