<form (submit)="search($event)" name="searchForm" id="searchForm">

  <div class="form-group">
    <div class="row justify-content-center">
      <div class="col col-sm-6">
        <label for="shop4mesearch">What are you looking for?</label>
        <input [(ngModel)]="model.searchTerms" (keyup)="canSearch($event)" name="searchTerms" type="text" class="form-control" id="shop4mesearch" placeholder="Enter search terms">
      </div>
    </div>
    <div class="row justify-content-center mt-1">
      <div class="col col-sm-6">
        <button *ngIf="model.canSearch" type="submit" class="btn btn-primary">Shop!</button>&nbsp;
        <button *ngIf="model.canSearch && model.canSaveSearch" type="button" class="btn btn-secondary" (click)="saveSearchDetails($event)">Save this search</button>&nbsp;
        <button *ngIf="model.canSearch" type="button" class="btn btn-warning" (click)="clearSearch($event)">Clear</button>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="model.showSaveDetails && model.canSearch">
    <div class="row justify-content-center">
      <div class="col col-sm-5">
        <label for="save_name">Name</label>
        <input [(ngModel)]="saveModel.searchName" name="searchName" type="text" class="form-control" id="searchName" placeholder="Name *">
      </div>
      <div class="col col-sm-5">
        <label for="save_product">Product</label>
        <input [(ngModel)]="saveModel.product" name="product" type="text" class="form-control" id="product" placeholder="Product *">
      </div>
    </div>
    <div class="row justify-content-center align-items-end">
      <div class="col col-sm-3">
        <label for="save_color">Color</label>
        <input [(ngModel)]="saveModel.color" name="color" type="text" class="form-control" id="color" placeholder="Color">
      </div>
      <div class="col col-sm-3">
        <label for="save_brand">Brand</label>
        <input [(ngModel)]="saveModel.brand" name="brand" type="text" class="form-control" id="brand" placeholder="Brand">
      </div>
      <div class="col col-sm-2">
        <button type="button" class="btn btn-primary" *ngIf="model.canSaveSearch" (click)="saveSearch($event)">Save</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="col col-6">
      <ul class="list-group">
        <li *ngFor="let err of model.messages" class="list-group-item list-group-item-{{err.type}}">
          {{ err.message }}
        </li>
      </ul>
    </div>
  </div>
</form>
<div>
  <div class="row searchheader" *ngIf="(results | async)?.numResults || 0 > 0">
    <div class="col-sm-4 result name">
      Name
    </div>
    <div class="col-sm-6 result description">
      Description
    </div>
    <div class="col-sm-2 result price">
      Price
    </div>
  </div>
  <div class="row" *ngFor="let item of (results | async)?.results || []">
    <div class="col-sm-4 result name">
      <a [attr.href]="item.url">{{item.name}}</a>
    </div>
    <div class="col-sm-6 result description">
      {{item.description}}
    </div>
    <div class="col-sm-2 result price">
      {{item.price}}
    </div>
  </div>
</div>