<mat-toolbar color="accent">
    <span>Frequently Asked Questions</span>
</mat-toolbar>
<mat-card>
    <mat-card-title>How can I Register?</mat-card-title>
    <mat-card-content>
        To register with this service, please click the sign in button. Click the link at the bottom of the sign-in form for registration. Populate and submit the registration form that has appeard to sign up! 
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>What does this service provide?</mat-card-title>
    <mat-card-content>
        Shop4Me is a website that will allow you to create custom searches for various hard-to-find items. Once a search is configured and submitted, relevant results will be returned to the you for your review. You can then click a result to go to that site. Searches can be done live, or they can be saved and scheduled to run at a time you specify. If you do not instantly get a result, you can save that search, schedule it to run, and be notified once your search hits a result.

    All you need to do is create an account, login, and begin searching, and Shop4Me will do the rest!
    </mat-card-content>
</mat-card>