<h3>Saved Searches</h3>
<ul class="list-group" style="width:100%">
  <li class="list-group-item list-group-item-info"> 
    <div class="row">
      <div class="col col-3">Name</div>
      <div class="col col-3">Product</div>
      <div class="col col-3">Terms</div>
      <div class="col col-3">&nbsp;</div>
    </div>
  </li>
  <li class="list-group-item list-group-item-dark" *ngFor="let item of (model | async)?.searches">
    <div class="row">
      <div class="col col-3">{{ item.searchName }}</div>
      <div class="col col-3">{{ item.product }}</div>
      <div class="col col-3">{{ item.searchTerms }}</div>
      <div class="col col-3">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete_forever</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </li>
</ul>