<div class="text-center" style="width: 100%">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Shop4Me</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
          <a *ngIf="(isLoggedIn | async) === true" class="nav-link" [routerLink]="['/searches']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Saved Searches</a>
          <a *ngIf="(isLoggedIn | async) === true" class="nav-link" [routerLink]="['/account']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Account</a>
          <a *ngIf="(isLoggedIn | async) === false" class="nav-link" routerLink="signin" routerLinkActive="active">Sign In</a>
        </nav>
      </div>
    </header>
  </div>
  
  <main role="main" class="container">
    <router-outlet></router-outlet>
  </main><!-- /.container -->

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>SENG 561, Spring 2021 - <a href="mailto:contact@shop4me.com">Contact Us</a></p>
    </div>
  </footer>
</div>