<form [formGroup]="editSearchForm" novalidate>
  <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-dialog-content>
      <div class="cdk-visually-hidden row">
        <div class="cdk-visually-hidden col">
          <mat-form-field class="cdk-visually-hidden">
            <input class="cdk-visually-hidden" matInput placeholder="pk" formControlName="pk">
          </mat-form-field>
          <mat-form-field class="cdk-visually-hidden">
            <input class="cdk-visually-hidden" matInput placeholder="sk" formControlName="sk">
          </mat-form-field>
          <mat-form-field class="cdk-visually-hidden">
            <input class="cdk-visually-hidden" matInput placeholder="timestamp" formControlName="timestamp">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Search Name" formControlName="searchName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Search Terms" formControlName="searchTerms">
            <!--mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error-->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Product" formControlName="product">
            <!--mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error-->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Color" formControlName="color">
            <!--mat-error *ngIf="addressForm.controls['address'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error-->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Brand" formControlName="brand">
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="accent" (click)="save()">{{data.button_acceptance}}</button>
      <button mat-button mat-dialog-close>{{data.button_disregard}}</button>
    </mat-dialog-actions>
</form>
